.input_info{
  visibility: hidden;
  transform: translateX(200px);
  opacity: 0;
  transition: all.3s ease-in-out;
  user-select: none;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.input_info.open{
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.input_info:has(.form.open)>button{
  visibility: hidden;
  opacity: 0;
}

.input_info .form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  right: 0;
}
.input_info .form input{
  visibility: hidden;
  opacity: 0;
  transform: translateX(200px);
  transition: all.3s ease-in-out;
  right: 0;
  position: absolute;
  width: 30vw;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 2px 4px black;
  padding: 7px 20px;
}
.input_info .form.open input{
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%);
}