*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@import url(./ToolBar.css);
@import url(./css\ elements/Button.css);
@import url(./Graph\ Interface.css);
@import url(./PanelInfo.css);
@import url(./css\ elements/Connection.css);

