:root {
  --w-panel: 400px;
}
.Panel{
  position: absolute;
  top: 0;
  z-index: 3;
  transition: all.3s ease-in-out;
}

.PanelInfo{
  width: var(--w-panel);
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.Panel .PanelInfo__btn{
  position: absolute;
  top: 20px;
}
.Panel svg{
  transition: transform 0.3s ease-in-out;
}
.Panel .openRight svg{
  transform: rotate(180deg);
}
.Panel .openLeft svg{
  transform: rotate(-180deg);
}
.PanelInfo .PanelInfo__content {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  color: white;
  background-color: rgb(151, 151, 151);
  border: 2px solid green;
  border-radius: 15px;
  box-shadow: inset 0 0 50px 20px black;
  overflow-x: hidden;
  text-shadow: 0 0 4px black;
  filter: drop-shadow(0 0 4px green);

  
}
.grid_content{
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 20px;
}
.PanelInfo .PanelInfo__content p{
  text-wrap: wrap;
}
